@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Macondo+Swash+Caps&family=Montserrat&display=swap');



:root {
    --cor-primaria: #092635;
    --cor--secundaria: #9EC8B9;
    --cor-terciaria: #9DB2BF;
    --cor-hover: #5C8374;

    --font-primaria: 'Krona One', sans-serif;
    --font-secudaria: 'Montserrat', sans-serif;
    --font-terciaria: "Macondo Swash Caps";
}


* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--cor-primaria);
    text-decoration: none;


}

.inicio {
    display: flex;

    flex-direction: column;
    gap: 3px;
    position: absolute;
    left: 6%;
    top: 3%;
}

.imagem {
    width: 269px;
    height: 127px;

    border-radius: 67.5px;

}

.logo {
    color: var(--cor--secundaria);
    width: 221px;
    height: 38px;
    padding-left: 20%;
    font-family: var(--font-terciaria);
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtitulo {

    color: var(--cor--secundaria);
    width: 219px;
    height: 19px;
    padding-left: 4%;
    padding-left: 20%;
    font-family: var(--font-terciaria);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botoes {
    position: absolute;
    right: 5%;
    top: 10%;

    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
    padding-right: 5%;
    font-family: var(--font-terciaria);
    gap: 4%;

}



.botoes__menu__link {
    text-decoration: none;
    border-radius: 18px;
    border: 2px solid var(--cor--secundaria);
    width: 37px;
    box-sizing: border-box;
    color: #f6f6f6;
    font-size: 16px;

}

.botoes__menu__link:hover {
    background-color: var(--cor-hover);
}